@import "./variables.scss";

@import "partials/_font.scss";
@import "partials/_type.scss";
@import "partials/_colors.scss";
@import "partials/_buttons.scss";


// Override alert background colors
$state-success-bg: lighten($success, 30);
$state-info-bg: lighten($info, 30);
$state-warning-bg: lighten($warning, 30);
$state-danger-bg: lighten($danger, 45);

// Override alert text colors
$state-success-text: darken($success, 30);
$state-info-text: darken($info, 30);
$state-warning-text: darken($warning, 30);
$state-danger-text: darken($danger, 10);

// Override badges padding (doubled because otherwise too crammed)
$badge-padding-x: 0.8em;
$badge-padding-y: 0.4em;

// Don't make badges normal instead of bold
$badge-font-weight: normal;

// Set global options
$enable-shadows: false;
$enable-gradients: true;