// Default size
$font-size-base: 16px !default;

// Override / set color variables
$white: #fff;
$black: #000;
$green: #00e389;
$blue: #3399ff;
$orange: #f26c22;
$yellow: #ffd925;
$red: #e5001e;

// Create grayscale
$gray-dark: #292b2c;
$gray: #3f3f3f;
$gray-light: #7e7e7e;
$gray-lighter: #ededed;
$gray-lightest: #fafafa;